### Gradle ###
.gradle/
build/

### IntelliJ IDEA ###
.idea/
*.iml
out/

### OS ###
.DS_Store

### Logs ###
*.log
hs_err_pid*

### Environment ###
.env
src/main/resources/application-local.yaml
src/main/resources/application-prod.yaml
